./node_modules
./dist
./coverage
./.env
./.DS_Store
./.vscode
./.idea
./.eslintcache
./.prettiercache
./.nyc_output
./.cache
./.turbo
./.next
./.nuxt
./.parcel-cache
./.sass-cache
./.webpack
./.babelrc
./.stylelintrc
node_modules/

dist/
coverage/
.env
.DS_Store
.vscode/
.idea/

.eslintcache
.prettiercache
.angular/
.nyc_output/
.cache/
/.angular/
.angular